.frontContentCardSofts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    height: 22rem;
    width: 25rem;
    padding: 0 2rem;
    border-radius: 2rem;
    background-color: var(--greenDark);
    cursor: pointer;
    align-items: center;
}

.frontContentCardSofts:hover {
    transform: scale(1.08);
}

.frontContentCardSofts div {
    display: flex;
    gap: 2rem;
}

.frontContentCardSofts img {
    width: 6rem;
    height: 6rem;
}

.frontContentCardSofts h1 {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--green);
    text-align: center;
}