.contentProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.titleContentProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.titleContentProjects h1 {
    color: #03fa6e;
    font-size: 3.2rem;
}

.titleContentProjects h2 {
    color: white;
    font-size: 1.8rem;
}

.moviesContentProjects {
    display: flex;
    flex-direction: column;
    gap: 8rem;

}
