.contentHeader {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.leftDivHeader img {
    width: 5rem;
    cursor: pointer;
}

.rightDivHeader {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.rightDivHeader ul {
    display: flex;
    gap: 4rem;
}

.rightDivHeader li {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
    list-style: none;
    cursor: pointer;
}

.rightDivHeader li:hover {
    color: var(--green);
}

.iconeMenuHeader {
    display: none;
}

@media (max-width:900px) {
    .contentHeader {
        padding: 0 5%;
    }

    .rightDivHeader {
        display: none;
    }

    .iconeMenuHeader {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .iconeMenuHeader img {
        width: 3rem;
    }

    .iconeMenuHeader span {
        font-size: 1.5rem;
        font-weight: 300;
        color: var(--white);
    }
}