.contentInfoContacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.contentInfoContacts img {
    width: 4rem;
    cursor: pointer;
}

.contentInfoContacts .iconWhats {
    width: 5rem;
}

.contentInfoContacts h1 {
    color: white;
    font-size: 2.8rem;
}

.divContentInfoContacts {
    display: flex;
    align-items: center;
    gap: 30px;
}

