.contentModalMenuOpen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color:#272928;
    
    padding: 10% 10%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12rem;
    z-index: 1;
}

.contentModalMenuOpen {
    animation: menuModalAbrir 0.5s both;
}

.iconeCloseModal img {
    width: 2.2rem;
    position: absolute;
    top: 2.4%;
    right: 5%;
}

.headerModalMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.headerModalMenu h1 {
    font-size: 1.5rem;
    color: white;
}

.headerModalMenu img {
    width: 5rem;
}

.divModalMenu {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 1rem;
    border-left: 1px solid #03fa6e;
}

.divModalMenu h1 {
    font-size: 2rem;
    color: #03fa6e;
    text-align: center;
}

.ulModalMenu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.ulModalMenu div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.ulModalMenu img {
    width: 2rem;
    height: 2rem;
}

.ulModalMenu li {
    color: white;
    font-size: 1.8rem;
    list-style: none;
    cursor: pointer;
}

.ulModalMenu li:hover {
    color: #03fa6e;
}

.buttonModalMenu {
    display: flex;
    justify-content: center;
}

.buttonModalMenu button {
    all: unset;
    box-sizing: border-box;

    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
    text-align: center;

    width: 12rem;
    height: 3rem;
    background-color: #03fa6e;
    color: #272a28;
    border-radius: 8px;
    box-shadow: 0 0 5px white;
}

@keyframes menuModalAbrir {
    0% {
        left: 100vw;
    }

    100% {
        left: 0;
    }
}

