.contentHomePage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/Backgrounds/backgroundHorizontal.png');
    background-size: cover;
    background-repeat: no-repeat;

}

@media (max-width:600px) {
    .contentHomePage {
        max-height: 100vh;
        background-image: url('../../assets/Backgrounds/backgroundVertical.png');
    }
}