.contentCertificates {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contentCertificates h1 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--green);
}

.contentCertificates p {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--white);
    margin-bottom: 5rem;
}

.contentCarrossel {
    display: flex;
    align-items: center;
    gap: 3rem;
    height: 36rem;
}

.mapContentCarrossel div {
    display: flex;
    justify-content: center;
    width: 55rem;
}

.imageContentCarrosel {
    width: 50rem;
    border-radius: 1rem;
    border: 2px solid var(--green);
}

.arrowContentCarrosel, .arrowContentCarroselMobile {
    font-size: 3rem;
    color: var(--green);
    cursor: pointer;
}

.imgStopContentCarrosel {
    opacity: 0;
    transition-duration: 1s ease;
}

.imgActiveContentCarrosel {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.arrowCertificatesMobile {
    display: none;
}

@media (max-width:600px) {
    .contentCertificates p {
        text-align: center;
    }

    .contentCertificates p {
        margin-bottom: 0rem;
    }

    .contentCarrossel {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 4rem;
    }

    .arrowCertificatesMobile {
        display: flex;
        gap: 1.5rem;
    }

    .mapContentCarrossel div {
        justify-content: center;
        width: 100%;
    }

    .imageContentCarrosel {
        width: 80%;
        height: 22rem;
    }

    .arrowContentCarrosel {
        display: none;
    }
}