.contentAboutMePage {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    width: 100vw;
    min-height: 100vh;
}

.divContentAboutMePage {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

@media (max-width:600px) {
    .contentAboutMePage {
        gap: 5rem;
     }

    .divContentAboutMePage {
        gap: 10rem;
   }
}